# Getting the Data

In [2]:
import pandas as pd

In [8]:
#users = pd.read_csv('users.csv', sep='\t')
#items = pd.read_csv('items.csv', sep='\t')
interactions = pd.read_csv('interactions.csv', sep='\t') # loads endlessly


# targetItems = pd.read_csv('targetItems.csv', sep='\t')
# targetUsers = pd.read_csv('targetUsers.csv', sep='\t')

# 1. User-Data

In [4]:
users.columns

Index(['recsyschallenge_v2017_users_final_anonym_export_unique.id',
       'recsyschallenge_v2017_users_final_anonym_export_unique.jobroles',
       'recsyschallenge_v2017_users_final_anonym_export_unique.career_level',
       'recsyschallenge_v2017_users_final_anonym_export_unique.discipline_id',
       'recsyschallenge_v2017_users_final_anonym_export_unique.industry_id',
       'recsyschallenge_v2017_users_final_anonym_export_unique.country',
       'recsyschallenge_v2017_users_final_anonym_export_unique.region',
       'recsyschallenge_v2017_users_final_anonym_export_unique.experience_n_entries_class',
       'recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_experience',
       'recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_in_current',
       'recsyschallenge_v2017_users_final_anonym_export_unique.edu_degree',
       'recsyschallenge_v2017_users_final_anonym_export_unique.edu_fieldofstudies',
       'recsyschallenge_v2017_users_final_anonym_export_unique.wtcj',
       'recsyschallenge_v2017_users_final_anonym_export_unique.premium'],
      dtype='object')

In [5]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
df.rename(inplace = True, index=str, columns={"A": "a", "B": "c"})
df

   a  c
0  1  4
1  2  5
2  3  6

In [3]:
users.head(5)

,recsyschallenge_v2017_users_final_anonym_export_unique.id,recsyschallenge_v2017_users_final_anonym_export_unique.jobroles,recsyschallenge_v2017_users_final_anonym_export_unique.career_level,recsyschallenge_v2017_users_final_anonym_export_unique.discipline_id,recsyschallenge_v2017_users_final_anonym_export_unique.industry_id,recsyschallenge_v2017_users_final_anonym_export_unique.country,recsyschallenge_v2017_users_final_anonym_export_unique.region,recsyschallenge_v2017_users_final_anonym_export_unique.experience_n_entries_class,recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_experience,recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_in_current,recsyschallenge_v2017_users_final_anonym_export_unique.edu_degree,recsyschallenge_v2017_users_final_anonym_export_unique.edu_fieldofstudies,recsyschallenge_v2017_users_final_anonym_export_unique.wtcj,recsyschallenge_v2017_users_final_anonym_export_unique.premium
0,30,2551922,3,0,0,de,0,1,3,1,2,2,1,0
1,50,"4375874,3415336,2152789,1431010",3,4,15,de,7,3,4,1,2,"5,8",1,0
2,70,"851763,2070276",3,17,4,de,2,2,7,2,0,NaN,1,0
3,90,"2139882,2177068,1520218,3113130,399936",0,0,0,de,0,1,0,0,0,NaN,0,0
4,100,"233434,3142896,3836967,987884",3,0,16,non_dach,0,3,5,5,0,NaN,0,0

In [4]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1497020 entries, 0 to 1497019
Data columns (total 14 columns):
recsyschallenge_v2017_users_final_anonym_export_unique.id                             1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.jobroles                       1497020 non-null object
recsyschallenge_v2017_users_final_anonym_export_unique.career_level                   1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.discipline_id                  1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.industry_id                    1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.country                        1497020 non-null object
recsyschallenge_v2017_users_final_anonym_export_unique.region                         1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.experience_n_entries_class     1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_experience    1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_in_current    1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.edu_degree                     1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.edu_fieldofstudies             703689 non-null object
recsyschallenge_v2017_users_final_anonym_export_unique.wtcj                           1497020 non-null int64
recsyschallenge_v2017_users_final_anonym_export_unique.premium                        1497020 non-null int64
dtypes: int64(11), object(3)
memory usage: 159.9+ MB

In [5]:
feature_names = ['recsyschallenge_v2017_users_final_anonym_export_unique.id',
     'recsyschallenge_v2017_users_final_anonym_export_unique.jobroles', 
     'recsyschallenge_v2017_users_final_anonym_export_unique.career_level', 
     'recsyschallenge_v2017_users_final_anonym_export_unique.discipline_id',
     'recsyschallenge_v2017_users_final_anonym_export_unique.industry_id',
     'recsyschallenge_v2017_users_final_anonym_export_unique.country',
     'recsyschallenge_v2017_users_final_anonym_export_unique.region',
     'recsyschallenge_v2017_users_final_anonym_export_unique.experience_n_entries_class',
     'recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_experience',
     'recsyschallenge_v2017_users_final_anonym_export_unique.experience_years_in_current',
     'recsyschallenge_v2017_users_final_anonym_export_unique.edu_degree',
     'recsyschallenge_v2017_users_final_anonym_export_unique.edu_fieldofstudies',
     'recsyschallenge_v2017_users_final_anonym_export_unique.wtcj',
     'recsyschallenge_v2017_users_final_anonym_export_unique.premium']

In [6]:
for name in feature_names:
    new_name = name[55:]
    users[new_name] = users[name]

In [7]:
for name in feature_names:
    users = users.drop(name, axis=1)

In [8]:
users.head(10)

,id,jobroles,career_level,discipline_id,industry_id,country,region,experience_n_entries_class,experience_years_experience,experience_years_in_current,edu_degree,edu_fieldofstudies,wtcj,premium
0,30,2551922,3,0,0,de,0,1,3,1,2,2,1,0
1,50,"4375874,3415336,2152789,1431010",3,4,15,de,7,3,4,1,2,"5,8",1,0
2,70,"851763,2070276",3,17,4,de,2,2,7,2,0,NaN,1,0
3,90,"2139882,2177068,1520218,3113130,399936",0,0,0,de,0,1,0,0,0,NaN,0,0
4,100,"233434,3142896,3836967,987884",3,0,16,non_dach,0,3,5,5,0,NaN,0,0
5,120,"3152052,4009156",3,0,6,de,1,3,4,3,0,3,1,0
6,130,0,0,0,0,de,0,3,4,0,2,"2,5",1,0
7,150,"519876,302644,821798",3,0,12,de,9,2,5,3,2,8,1,1
8,170,4099592,0,0,16,de,1,3,6,2,0,NaN,1,0
9,180,2967883,6,23,5,ch,0,3,6,2,2,3,1,0

In [9]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1497020 entries, 0 to 1497019
Data columns (total 14 columns):
id                             1497020 non-null int64
jobroles                       1497020 non-null object
career_level                   1497020 non-null int64
discipline_id                  1497020 non-null int64
industry_id                    1497020 non-null int64
country                        1497020 non-null object
region                         1497020 non-null int64
experience_n_entries_class     1497020 non-null int64
experience_years_experience    1497020 non-null int64
experience_years_in_current    1497020 non-null int64
edu_degree                     1497020 non-null int64
edu_fieldofstudies             703689 non-null object
wtcj                           1497020 non-null int64
premium                        1497020 non-null int64
dtypes: int64(11), object(3)
memory usage: 159.9+ MB

# 2. Items-Data

In [10]:
items.head(5)

,recsyschallenge_v2017_items_final_training_export.id,recsyschallenge_v2017_items_final_training_export.title,recsyschallenge_v2017_items_final_training_export.career_level,recsyschallenge_v2017_items_final_training_export.discipline_id,recsyschallenge_v2017_items_final_training_export.industry_id,recsyschallenge_v2017_items_final_training_export.country,recsyschallenge_v2017_items_final_training_export.is_payed,recsyschallenge_v2017_items_final_training_export.region,recsyschallenge_v2017_items_final_training_export.latitude,recsyschallenge_v2017_items_final_training_export.longitude,recsyschallenge_v2017_items_final_training_export.employment,recsyschallenge_v2017_items_final_training_export.tags,recsyschallenge_v2017_items_final_training_export.created_at
0,30,NaN,3,15,9,de,0,7,50.8,8.9,1,"3323880,4078788,1025029,88816,1032508,2922746,...",1450216800
1,70,"2994300,665762,901938,127655,3680343",3,5,18,de,0,1,48.7,9.0,1,"127655,3680343,366525,2114599,901938,2994300,6...",1475791200
2,80,"3275701,157228,4179835",1,10,1,de,0,1,48.8,8.1,1,"3275701,4179835,910844,4050466,258464,1339355",1483570800
3,90,2343474,3,8,9,de,0,3,52.5,13.4,1,"2456523,1759589,2343474,1786537,2629116,310589...",1474322400
4,100,2003688,4,8,3,at,0,0,48.1,15.1,1,"2233488,2003688,1713818",1482793200

In [11]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306054 entries, 0 to 1306053
Data columns (total 13 columns):
recsyschallenge_v2017_items_final_training_export.id               1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.title            1204338 non-null object
recsyschallenge_v2017_items_final_training_export.career_level     1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.discipline_id    1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.industry_id      1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.country          1306054 non-null object
recsyschallenge_v2017_items_final_training_export.is_payed         1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.region           1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.latitude         1306054 non-null object
recsyschallenge_v2017_items_final_training_export.longitude        1306054 non-null object
recsyschallenge_v2017_items_final_training_export.employment       1306054 non-null int64
recsyschallenge_v2017_items_final_training_export.tags             1275300 non-null object
recsyschallenge_v2017_items_final_training_export.created_at       1306054 non-null object
dtypes: int64(7), object(6)
memory usage: 129.5+ MB

In [12]:
feature_names = ['recsyschallenge_v2017_items_final_training_export.id',
                 'recsyschallenge_v2017_items_final_training_export.title',
                 'recsyschallenge_v2017_items_final_training_export.career_level',
                 'recsyschallenge_v2017_items_final_training_export.discipline_id',
                 'recsyschallenge_v2017_items_final_training_export.industry_id',
                 'recsyschallenge_v2017_items_final_training_export.country',
                 'recsyschallenge_v2017_items_final_training_export.is_payed',
                 'recsyschallenge_v2017_items_final_training_export.region',
                 'recsyschallenge_v2017_items_final_training_export.latitude',
                 'recsyschallenge_v2017_items_final_training_export.longitude',
                 'recsyschallenge_v2017_items_final_training_export.employment',
                 'recsyschallenge_v2017_items_final_training_export.tags',
                 'recsyschallenge_v2017_items_final_training_export.created_at',
]

In [13]:
for name in feature_names:
    new_name = name[50:]
    items[new_name] = items[name]

In [14]:
for name in feature_names:
    items = items.drop(name, axis=1)

In [15]:
items.head(5)

,id,title,career_level,discipline_id,industry_id,country,is_payed,region,latitude,longitude,employment,tags,created_at
0,30,NaN,3,15,9,de,0,7,50.8,8.9,1,"3323880,4078788,1025029,88816,1032508,2922746,...",1450216800
1,70,"2994300,665762,901938,127655,3680343",3,5,18,de,0,1,48.7,9.0,1,"127655,3680343,366525,2114599,901938,2994300,6...",1475791200
2,80,"3275701,157228,4179835",1,10,1,de,0,1,48.8,8.1,1,"3275701,4179835,910844,4050466,258464,1339355",1483570800
3,90,2343474,3,8,9,de,0,3,52.5,13.4,1,"2456523,1759589,2343474,1786537,2629116,310589...",1474322400
4,100,2003688,4,8,3,at,0,0,48.1,15.1,1,"2233488,2003688,1713818",1482793200

In [16]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306054 entries, 0 to 1306053
Data columns (total 13 columns):
id               1306054 non-null int64
title            1204338 non-null object
career_level     1306054 non-null int64
discipline_id    1306054 non-null int64
industry_id      1306054 non-null int64
country          1306054 non-null object
is_payed         1306054 non-null int64
region           1306054 non-null int64
latitude         1306054 non-null object
longitude        1306054 non-null object
employment       1306054 non-null int64
tags             1275300 non-null object
created_at       1306054 non-null object
dtypes: int64(7), object(6)
memory usage: 129.5+ MB